

#home {
   scroll-margin-top: 140px; /* adjust until it's perfect for your navbar */
   overflow-x: hidden;
}

.home-section {
  padding: 20px 20px 120px 20px;  
  text-align: center;
  min-height: 100vh;
  color: white;font-family: 'Poppins', sans-serif;
  font-weight: 300; 
  position: relative;
  z-index: 1;
}

.home-section h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.home-section p {
  font-size:1.1 rem;
  max-width: 700px;
  margin: 0 auto 2rem;
}

.quick-links {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.quick-links a {
  padding: 10px 20px;
  background-color: #00bfff;
  color: black;
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
  transition: 0.3s;
}

.quick-links a:hover {
  background-color: #0099cc;
}
.typewriter-heading::after {
  content: "|";
  animation: blink 3s infinite;
}

@keyframes blink {
  0%, 50%, 100% { opacity: 1; }
  25%, 75% { opacity: 0; }
}
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}
.home-section::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 150px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #000);
  pointer-events: none;
  z-index: 2;
}
@media (max-width: 768px) {
  .home-section p {
    font-size: 1.25rem; /* Increase font size for better readability on mobile */
  }
  .home-section h1 {
    font-size: 2.25rem; /* Make headings more prominent on smaller screens */
  }
}