.register-header {
  display: flex;
  align-items: center;
  justify-content: center; 
  gap: 10px;
  margin-top:60px;  
  position: relative;
  text-align: center;
}


.tooltip-container {
  position: relative;
  display: inline-block;
  z-index:50;
}

.info-icon {
  color: #72b5ef;
  font-size: 20px;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.info-icon:hover {
  color: #2196f3;
  transform: scale(1.2);
  filter: drop-shadow(0 0 6px #2196f3);
}

.tooltip-text {
  visibility: hidden;
  width: 250px;
  background-color: #80bef5;
  color: rgb(247, 237, 237);
  text-align: center;
  padding: 8px 12px;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  top: 30px;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s;
  font-size: 14px;
}

.tooltip-container:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
  color:black;
}

.register-button-container {
  margin-top: 20px;
  display: flex;
  justify-content: center; /* ⬅️ Center button horizontally */
}


.go-register-button {
  padding: 10px 20px;
  background-color: #045dad;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.go-register-button:hover {
  background-color: #034b9c;
}
