.video-splash {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100vw;
  height: 100vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  transition: transform 0.8s ease-in-out, opacity 0.8s ease-in-out;
}

.video-splash.slide-out {
  transform: translateY(-100%);
  opacity: 0;
}

.video-splash video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.5s ease-in-out;
}
@media (max-width: 768px) {
  .video-splash {
    display: none !important;
  }
}
